{% load static %}
    <div class="sidebar os-theme-light" style="overflow-y: auto;">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'user-icon.png' %}">
            </div>
            <div class="primary">
                {% if request.user.is_authenticated %}
                    <a href=" url 'accounts:options' %}" class="d-block">{{request.user.get_full_name}}</a>
                {% else %}
                    <a href=" url 'accounts:sign-in' %}" class="d-block">Authenticate</a>
                {% endif %}
            </div>
        </div>
    
            <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Sidebar search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
    
            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="
                        nav
                        nav-pills
                        nav-sidebar
                        flex-column
                        nav-legacy
                        nav-child-indent
                        nav-collapse-hide-child"
                    data-widget="treeview"
                    role="menu"
                    data-accordion="false">

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-archive"></i>
                            <p>
                                Inventory
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'inventory:stand-category-list' %}" class="nav-link">
                                    <p>Stand Category</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-receipt"></i>
                            <p>
                                POS
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href=" url 'office:management' %}" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                    <p>Offices</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-blind"></i>
                            <p>
                                Support
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href=" url 'office:management' %}" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                    <p>Offices</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item">
                            <a href="/admin-" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                                <p>
                                    Super Admin
                                </p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
            </div>
